<h4> All Goal Entries </h4>
<% @goal_entries.each do |goal_entry| %>
  <p>Entry created on <a href="goal_entries/<%= goal_entry.id %>"><%= goal_entry.created_at.to_date %></a></p>
  <p>Goal: <%= goal_entry.content %></p>
  <br>
<% end %>
<br>
<a href="/">Back</a>