<h2> Create a new goal entry: </h2>

<form class ="" action="/goal_entries" method="post">
<label for="content"> What is your goal? </label>
<input type="text" name="content" value"">
I will get this done by:
<label for="month"> Month </label>
<input type="string" name="month" value"">
<label for="string"> Year </label>
<input type="integer" name="year" value"">

<input type="submit" name="" value="Create Goal">
</form>
