<h2> Create a new goal entry: </h2>

<form class ="" action="/goal_entries" method="post">
<label for="content"> What is your goal? </label>
<input type="text" name="content">
<h2>This goal is due by: </h2><br>
<label for="month"> Month </label>
<input type="string" name="month">
<label for="string"> Year </label>
<input type="integer" name="year" >

<input type="submit" name="" value="Create Goal">
</form>
