<h1> Welcome to your Goals App! </h1>
Returning user? Login <a href="/login"> here. </a> 
<br>
Are you new here? Sign up <a href="/signup"> here.</a>
<br>
Need inspiration? View all goals <a href="/goal_entries"> here. </a>
